<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mib200.cordova.google-analytics"
    version="1.0.0">

  <name>Google Analytics</name>
  <description>Google Analytics Cordova Plugin for iOS and Android</description>
  <repo>https://github.com/mib200/google-analytics-plugin.git</repo>
  <author>Manish Kumar</author>
  <license>MIT License</license>
  <keywords>Google analytics, GA, cordova, phonegap, ionic, plugin, ios, android</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/analytics.js" name="GoogleAnalytics">
    <clobbers target="navigator.analytics" />
  </js-module>

  <dependency id="com.google.playservices" />

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GoogleAnalytics">
        <param name="ios-package" value="GoogleAnalyticsPlugin" />
      </feature>
    </config-file>

    <header-file src="ios/GoogleAnalyticsPlugin.h" />
    <source-file src="ios/GoogleAnalyticsPlugin.m" />

    <source-file src="ios/libGoogleAnalyticsServices.a" framework="true" />
    <header-file src="ios/GAI.h" />
    <header-file src="ios/GAIDictionaryBuilder.h" />
    <header-file src="ios/GAIEcommerceFields.h" />
    <header-file src="ios/GAIEcommerceProduct.h" />
    <header-file src="ios/GAIEcommerceProductAction.h" />
    <header-file src="ios/GAIEcommercePromotion.h" />
    <header-file src="ios/GAIFields.h" />
    <header-file src="ios/GAILogger.h" />
    <header-file src="ios/GAITrackedViewController.h" />
    <header-file src="ios/GAITracker.h" />

    <framework src="SystemConfiguration.framework" />
    <framework src="CoreData.framework" />
    <framework src="libsqlite3.dylib" />
    <framework src="libz.dylib" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GoogleAnalytics">
        <param name="android-package" value="com.mib200.cordova.google-analytics.GoogleAnalyticsPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <source-file src="android/GoogleAnalyticsPlugin.java" target-dir="src/android" />

  </platform>

</plugin>
